.header {
  background-color: rgba($color: $secundary, $alpha: 0.6);
  border-radius: 15px;
  margin-top: 1.5rem;
}

.header-title {
  color: $primary;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.9rem;
  padding-top: 0.9rem;
  text-align: center;
  text-transform: uppercase;
}
