.timer {
  background-color: rgba($color: $secundary, $alpha: 0.6);
  border-radius: 15px;
  margin-top: 1.5rem;
}

.clock {
  color: $primary;
  font-size: 4rem;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}



@media only screen and (min-width: 768px) {
  .clock {
    font-size: 6rem;
  }
}
